@font-face {
    font-family: work-sans;
    src: url(/fonts/WorkSans-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    font-family: work-sans;
    font-smooth: always;
}

.test {
    font-size: 1px;
}

@media screen and (max-width: 768px) {
    .test {
        font-size: 0.7px;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    font-size: 16rem;
}

/* TYPOGRAPHY */
.display {
    font-size: 200rem;
    font-weight: 400;
}

h1 {
    font-size: 120rem;
    font-weight: 500;
    margin: 0.3em 0;
}

h2 {
    font-size: 64rem;
    font-weight: 500;
    margin: 0.3em 0;
}

h3 {
    font-size: 48rem;
    font-weight: 500;
    margin: 0.3em 0;
}

h4 {
    font-size: 32rem;
    font-weight: 500;
}

h5 {
    font-size: 24rem;
    font-weight: 500;
}

p .caption {
    font-size: 18rem;
    font-weight: 500;
}

p {
    font-size: 16rem;
    font-weight: 400;
}

p .small {
    font-size: 14;
    font-weight: 400;
}

a {
    cursor: pointer;
}

a.discreet {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

/* BASE ELEMENTS */
button {
    width: fit-content;
    padding: 24rem 32rem;
    border: none;

    font-size: 18rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;

    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 24rem;
}
