@font-face {
    font-family: open-sans;
    src: url(/fonts/WorkSans-VariableFont_wght.ttf);
}

* {
    font-family: open-sans;
    font-weight: 500;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* TYPOGRAPHY */
.display {
    font-size: 200px;
    font-weight: 400;
}

h1 {
    font-size: 120px;
    font-weight: 500;
}

h2 {
    font-size: 64px;
    font-weight: 500;
}

h3 {
    font-size: 48px;
    font-weight: 500;
}

h4 {
    font-size: 32px;
    font-weight: 500;
}

h5 {
    font-size: 24px;
    font-weight: 500;
}

p .caption {
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
}

p .small {
    font-size: 14;
    font-weight: 400;
}
